.app_container_text_center{
  display: flex;
  justify-content: center;
}
.product_main_container{
  display:flex;
  flex-direction:column;
  overflow:hidden;
  gap:5px;
  height:100vh;
}
.navbar{
  padding:5px;
  border: 1px solid;
  text-align: center;
}
.search_input{
  padding:5px;
}
.product_container{
  display:flex;
  flex:1;
  padding:5px 0px;
  overflow:hidden auto;
  gap:5px;
  flex-wrap:wrap;
  justify-content: center;
}
.product_card{
  border:1px solid;
  border-radius: 5px;
  width:20rem;
  height:10rem;
  padding:5px;
  display: flex;
  gap:5px;
  display: flex;
  flex-direction: column;
}

.product_card_category{
  align-self: flex-end;
  background-color: #eee;
  border-radius: 5px;
  padding: 3px;
}
.product_card_img{
  width:100px;
  height:100px;
}
.product_card_img_with_title{
  display: flex;
  align-items: center;
  gap:5px;
}
.product_card_title{
  text-align-last: end;
}
.product_card-price_and_order_btn{
  align-self: flex-end;
  display: flex;
  gap:5px;
}